p{
  font-size:32px;
  font-weight:bold;
  text-decoration:underline;
  text-align: center;
}
table {
  border-width: 5px;
  border-style: solid;
  border-color: brown;
	font-family: 'Source Code Pro', monospace;
}