h1 {
  color: white;
  font-family: 'Andy', 'Marquisette BTN', "Comic Sans MS", 'Lucida Sans', sans-serif;
  font-size: 290%;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
body {
	background-color: rgb(64, 73, 121);
}

h3 {
  font-size: medium;
	color: white;
}
p {
  font-size: 118.71%;
	color: white;
}
.pink {
  color: lightpink;
  font-size: medium;
  font-weight: bold;
}
.btn-group {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    text-decoration: none;
}


.btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group:hover {
    background-color: #3e8e41;
}
