h1{
  color:white;
  font-family:cursive;
  font-size:42px;
  font-weight:bold;
  text-decoration:underline;
  text-align: center;
}
html {
	background-color: rgb(64, 73, 121);
}
h2 {
	color: white;
}
h3 {
	color: white;
}
p {
	color: white;
}
.pink {
  color: lightpink;
  font-weight: bold;
}
.button {
  background-color: magenta;
  border: 2in;
  color: lavender;
  display: inline-block;
  text-decoration: wavy;
}