html {
	background-color: rgb(0, 102, 0);
}
img {
	display: block;
	margin-left: auto;
<<<<<<< HEAD
	margin-right: 75%;
=======
	margin-right: auto;
>>>>>>> 011d66f3f629ef7948dbd5ba5710b5f7be32b9ab
	width: 50%;
}