.webhookcontainer {
  height: 630px;
  width: 375px;
  background-color: #34495e;
}
#thing {
  margin-top: 10px;
  margin-left: 10px;
}
.stuffall {
  padding-top: 5px;
  padding-left: 12.5px;
}
#content {
   width: 350px;
   height: 280px;
   box-sizing: border-box;
   resize: none;
}
#embeddescid {
   width: 350px;
   height: 240px;
   box-sizing: border-box;
   resize: none;
}

#embedversion {
  padding-left: 5px;
}